# Environments & secrets
.venv/
.env
.env.*
*.log

# Python cache & tools
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.python-version
uv.lock
pyproject.toml
main.py
raw_data.txt
src/

# Internal config & local folders
.antigravity_rules
01-Contracts/
02-Assets/
03-Code/
Tac_Nghiep_Telesales_USU.xlsx
